<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Repository.Properties.Settings.InterviewConnectionString"
            connectionString="Data Source=LAPTOP-NAMMS8CF\SQLEXPRESS;Initial Catalog=Interview;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>